<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Criar Nova Tarefa</h1>
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input #listTitleInput class="input has-background-light" type="text" placeholder="Digite a nova tarefa.">
      </p>
      <p class="control">
        <a class="button is-primary" (click)=createList(listTitleInput.value)>
          Criar
        </a>
      </p>
    </div>
    <button class="button" routerLink="/">Voltar</button>
  </div>

  

</div>